@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

html {
	/*background-color: #141414;*/
	background-color: black;
}

#nav-logo {
	height: 5em;
}

#footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
}

.boton {
	font-family: 'Poppins', sans-serif;
}

.center {
	margin: 0 auto;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float-animation {
	animation: float 6s ease-in-out infinite;
}

.eventos {
	max-width: 80%;
}

.justify {
	text-align: justify;
}